<% provide(:title, @user.name) %>
<div class="profile">
  <div class="profile-grid-container">
    <div class="profile-img">
      <%= image_tag @user.profile_image, size: '200x200', class: 'rounded-image' %>
    </div>
    <div class="profile-details">
      <!-- 1段目 -->
      <div class="user-name">
        <div class="name">
          <%= @user.name %>
        </div>
        <div>
          <% if current_user?(@user) %>
            <%= link_to "プロフィール編集", edit_user_url(current_user), class: "button" %>
          <% else %>
            <!-- フォローボタン -->
          <% end %>
        </div>
        <div class="something">
          <!-- なんか入れる -->
        </div>
      </div>
      <!-- 2段目 -->
      <div class="follow">
        <div class="posts"></div>
        <div class="followers">
          <%= link_to "フォロワー #{@user.followers.count} 人", followers_user_path(@user) %>
        </div>
        <div class="following">
          <%= link_to "フォロー #{@user.following.count} 人", following_user_path(@user) %>
        </div>
      </div>
      <!-- 3段目 -->
      <div class="profile-content">
        <%= @user.content %>
      </div>
    </div>
    
  </div>
  <hr class="profile-hr">
  <div class="main-grid-container">
    <div class="grid-item color-black" id="post_btn">
        投稿 
        <%= image_tag "post.png", size: "20x20" %>
    </div>

    <div class="grid-item" id="bookmark_btn">
        保存 
        <%= image_tag "bookmark.png", size: "20x20" %>
    </div>

    <div class="grid-item" id="like_btn">
        イイねした口コミ 
        <%= image_tag "like.png", size: "20x20" %> 
    </div>
  </div>

  <div class="container">
    <div id="post_area">
      <%= render 'shared/post_list' %>
    </div>
    <div class="display-none" id="bookmark_area">
      <%= render 'shared/bookmark_list' %>
    </div>
    <div class="display-none" id="like_area">
      <%= render 'shared/like_list' %>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var postBtn = document.getElementById('post_btn');
  var bookmarkBtn = document.getElementById('bookmark_btn');
  var likeBtn = document.getElementById('like_btn');
  var btns = [postBtn, bookmarkBtn, likeBtn];

  var postArea = document.getElementById('post_area');
  var bookmarkArea = document.getElementById('bookmark_area');
  var likeArea = document.getElementById('like_area');
  var areas = [postArea, bookmarkArea, likeArea];

  if (postBtn && bookmarkBtn && likeBtn && postArea && bookmarkArea && likeArea) {
    postBtn.addEventListener('click', function() {
      toggleVisibleArea(postArea);
      toggleFontColor(postBtn);
    });
    bookmarkBtn.addEventListener('click', function() {
      toggleVisibleArea(bookmarkArea);
      toggleFontColor(bookmarkBtn);
    });
    likeBtn.addEventListener('click', function() {
      toggleVisibleArea(likeArea);
      toggleFontColor(likeBtn);
    });
  }

  function toggleVisibleArea(visibleArea) {
    areas.forEach(function(area) {
      if (area === visibleArea) {
        area.classList.remove('display-none');
      } else {
        area.classList.add('display-none');
      }
    });
  }

  function toggleFontColor(colorBlack){
    btns.forEach(function(btn) {
      if (btn === colorBlack) {
        btn.classList.add('color-black')
      } else {
        btn.classList.remove('color-black')
      }
    });
  }
});
</script>
