<div class="user-profile-page">
  <div class="user-profile">
    <div class="user-profile__user-icon">
      <%= image_tag @user.profile_image %>
    </div>
    <div class="user-profile-details">
      <div class="user-profile-details__name">
        <span><%= @user.name %></span>
      </div>
      <%= render 'shared/toggle_user_buttons', user: @user %>
    </div>
  </div>
  <div class="user-profile-content">
    <%= @user.content %>
  </div>
  <div class="user-profile-items">
    <span id="post" class="selected-color">投稿</span>
    <span id="bookmark">保存</span>
    <span id="like">イイね</span>
    <span id="follow">フォロー</span>
    <span id="follower">フォロワー</span>
  </div>
   <hr class="user-profile-page__hr">

  <div class="user-content-wrapper">
    <div id="user-content-wrapper__post-area">
      <%= render 'shared/post_list' %>
    </div>
    <div class="display-none" id="user-content-wrapper__bookmark-area">
      <%= render 'shared/bookmark_list' %>
    </div>
    <div class="display-none" id="user-content-wrapper__like-area">
      <%= render 'shared/like_list' %>
    </div>
      <div class="display-none" id="user-content-wrapper__follow-area">
    </div>
      <div class="display-none" id="user-content-wrapper__follower-area">
    </div>
   </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.body.style.backgroundColor = '#efefef';
    const tabs = document.querySelectorAll('.user-profile-items span');
    const areas = document.querySelectorAll('[id^="user-content-wrapper__"][id$="-area"]');
    tabs.forEach(tab => {
      tab.addEventListener('click', function() {
        // クリックされたタブにselected-colorクラスを追加し、文字を変える処理
        tabs.forEach(t => t.classList.remove('selected-color'));
        this.classList.add('selected-color');

        // 対応するエリアを表示し、他のエリアを非表示にする
        const activeAreaId = 'user-content-wrapper__' + this.id + '-area';
        areas.forEach(area => {
          if (area.id === activeAreaId) {
            area.classList.remove('display-none');
          } else {
            area.classList.add('display-none');
          }
        });
      });
    });
  });
</script>