<div class="like-and-comment">
  <!-- current_userがイイね済みかどうかで2つの画像を出しわけてる -->
  <%= image_tag "like.png", size: "20x20", data: { review_id: review.id }, class: "like-icon #{'display-none' if current_user.review_liked?(review)}" %>
  <%= image_tag "heart-red.png", size: "20x20", data: { review_id: review.id }, class: "heart-red-icon #{'display-none' if !current_user.review_liked?(review)}" %>
  <%= content_tag :span, review.likers.count, class: "#{'like-color' if current_user.review_liked?(review)}" %>
  
  <!--<%= link_to image_tag("heart-red.png", size: "20x20"), likes_path(review.id), class: "js-heart-red-icon", method: DELETE, remote: true, data: { review_id: review.id } %>-->
    <!--<%= link_to image_tag("like.png", size: "20x20"), likes_path, class: "js-like-icon", method: POST, remote: true, data: { review_id: review.id } %>-->

  0
</div>
