<div class="reply-info">
  <div class="reply-count-wrapper">
    <%= image_tag "comment.png", size: '20x20', class: "reply-count-wrapper__reply-icon" %>
    <span class="reply-count-wrapper__reply-count">
    <%= count_replies_for_review(@review.id) %> 件
    </span>
  </div>
  <% @replies.each do |reply| %>
  <div class="reply-details-wrapper">
    <div class="reply-details-wrapper__user-icon">
      <%= image_tag reply.user.profile_image %>
    </div>
    <div class="reply-details-inner">
      <%= image_tag "more.png", size: "20x20", class: "post-action-icon", data: { review_path: review_path(review) } %>
      <div class="reply-details-inner__user-name">
        <%= reply.user.name %>
      </div>
      <div class="reply-detail-block__created-time">
        <%= formatted_post_time(reply.created_at) %>
      </div>
    </div>
  </div>
  <div class="reply-info__reply-content">
    <p><%= simple_format(reply.content) %></p>
  </div>
  <hr class="reply-info__hr">
  <% end %>
</div>
