<% @reviews.each do |review| %>
  <div class="user-review-container">
    <div class="user-info-block">
      <% if review.user && review.user.profile_image.attached? %>
        <%= link_to review.user, class: "user-info-block__icon" do %>
          <%= image_tag review.user.profile_image, size: "50x50" %>
        <% end %>
      <% end %>
      <div class="user-info-inner">
        <p class="user-info-inner__user-name"><%= review.user ? review.user.name : "Unknown User" %></p>
        <span class="user-info-inner__created-time">
          <% if review.created_at %>
            <%= formatted_post_time(review.created_at) %>
          <% else %>
            日時不明
          <% end %>
        </span>
      </div>
    </div>
    <% if !review.score.nil? %>
      <div class="review-score-container">
        <%= render 'shared/review_score', review: review %>
      </div>
    <% end %>
    <div class="user-review-container__content">
      <p><%= simple_format(review.content) %></p>
    </div>
  </div>
<% end %>
<%= render 'popup/post_action_popup' %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // 「もっと見る」ボタンをクリックした時の処理
    // var reviewIdInput = document.getElementById('review-id-input');
    // var reviewId = reviewIdInput.value;
    // console.log(reviewIdInput.value);
    // console.log(showMoreBtn);
    // var showMoreBtn = document.getElementById(`show-more-btn-${reviewId}`);
    // var postContent = document.getElementById(`post-content-${reviewId}`);
    // showMoreBtn.addEventListener('click', function() {
    //   postContent.classList.toggle('active');
    //   if (postContent.classList.contains('active')) {
    //     showMoreBtn.textContent = '閉じる';
    //   } else {
    //     showMoreBtn.textContent = 'もっと見る';
    //   }
    // });
    var showMoreBtns = document.querySelectorAll('.show-more-btn');
    showMoreBtns.forEach(function(showMoreBtn) {
      showMoreBtn.addEventListener('click', function() {
        var prev = showMoreBtn.previousElementSibling;
        if(prev.classList.contains('active') === true) {
          prev.classList.remove('active');
          showMoreBtn.textContent = 'もっと見る';
        }else{
          prev.classList.add('active');
          showMoreBtn.textContent = '閉じる'; 
        }
      });
    });

    // 投稿のheightがmax-heightに達したら「もっと見る」ボタンを非表示にする
    var postContents = document.querySelectorAll('.post-content');
    postContents.forEach(function(postContent) {
      if (postContent.scrollHeight < 150) {
        postContent.classList.add('active');
        var btn = postContent.nextElementSibling;
        btn.classList.add("display-none");
      }
    });

    // イイねボタン押した時の処理
    var likeIcons = document.querySelectorAll('.js-like-icon');
    var heartRedIcons = document.querySelectorAll('.js-heart-red-icon');
    likeIcons.forEach(function(likeIcon) {
      likeIcon.addEventListener('click', function() {
        var currentReviewId = this.getAttribute('data-review-id');
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        fetch("/likes", {
          method: "POST",
          headers: {
            "X-CSRF-Token": csrfToken,
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ review_id: currentReviewId })
        });
      });
    });

    heartRedIcons.forEach(function(heartRedIcon) {
      heartRedIcon.addEventListener('click', function() {
        var currentReviewId = this.getAttribute('data-review-id');
        var currentReviewURL = `/likes/${currentReviewId}`;
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        fetch(currentReviewURL, {
          method: "DELETE",
          headers: {
            "X-CSRF-Token": csrfToken,
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ review_id: currentReviewId })
        })
      });
    });

    var closeBtn = document.getElementById('close-btn');
    var postActionPopup = document.getElementById('post-action-popup');
    var postActionIcons = document.querySelectorAll('.post-action-icon');
    var deleteBtn = document.getElementById('delete-btn');
    var grayOut = document.getElementById('gray-out');
    // 投稿の「・・・」ボタン押下時の処理
    postActionIcons.forEach(function(postActionIcon) {
      postActionIcon.addEventListener('click', function() {
        postActionPopup.classList.remove('display-none');
        grayOut.classList.remove('display-none');
        // クリックされたpost-action-iconに対応するレビューのURLを取得
        currentReviewUrl = this.getAttribute('data-review-path');
      });
    });
    // ポップアップの閉じるボタン押下時の処理
    closeBtn.addEventListener('click', function() {
      postActionPopup.classList.add('display-none');
      grayOut.classList.add('display-none');
    });
    // 削除ボタン押下時の処理
    deleteBtn.addEventListener('click', function() {
      var confirmation = confirm('本当に削除しますか？');
      if (confirmation) {
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        fetch(currentReviewUrl, {
          method: "DELETE",
          headers: {
            "X-CSRF-Token": csrfToken,
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          if (response.ok) {
            window.location.reload();
          } else {
            alert('削除に失敗しました');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('削除に失敗しました');
        });
      } else {
        postActionPopup.classList.add('display-none');
        grayOut.classList.add('display-none');
      }
    });
  });
</script>
