<div class="area-page-header">
</div>
<div class="area-main-block">
  <div class="heritage-cards-block">
    <% @heritages.each do |heritage|%>
      <% if heritage.images.attached? %>
        <div class="area-heritage-card" id="heritage-<%= heritage.id %>">
          <%= image_tag "close.png", size: "30x30", class: "area-heritage-card__close-btn" %>
          <%= link_to image_tag(heritage.images[0], class: "area-heritage-card__img"), heritage_url(heritage) %>
          <p class="area-heritage-card__name"><%= heritage.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="area-map-block" id="map">
  </div>
</div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap&libraries=marker&v=beta"
  defer
></script>
<script>
function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 38.60, lng: 135.5 },
    zoom: 5.5,
    mapId: "4504f8b37365c3d0",
  });
  
  map.addListener('idle', function() {
    const bounds = map.getBounds();
    <% @heritages.each do |heritage|%>
      <% if !heritage.lat.nil? %>
        heritageLatLng = new google.maps.LatLng(<%= heritage.lat %>, <%= heritage.lng %>);
        isVisible = bounds.contains(heritageLatLng);
        if (isVisible) {
          const heritageTag = document.createElement("a");
          heritageTag.className = "heritage-pin";
          heritageTag.href = `#heritage-<%= heritage.id %>`;
          heritageTag.textContent = `<%= heritage.name %>  ⭐︎<%= calc_average_review_score(heritage.id) %>`;
          const markerLatLng = { lat: <%= heritage.lat %>, lng: <%= heritage.lng %> };
          const markerView = new google.maps.marker.AdvancedMarkerView({
            map,
            position: markerLatLng,
            content: heritageTag,
          });
          markerView.addListener('click', function() {
            const showHeritageCard = document.getElementById(`heritage-<%= heritage.id %>`);
            showHeritageCard.classList.toggle("area-heritage-card-show");
          });
        }
      <% end %>
    <% end %>
   });
}
window.initMap = initMap;

  document.addEventListener('DOMContentLoaded', function() {
    // スマホ版ページの世界遺産カードのバツボタン押下時の処理
    const closeButtons = document.querySelectorAll(".area-heritage-card__close-btn");
    closeButtons.forEach(button => {
      button.addEventListener("click", function(event) {
        const parentElement = event.target.closest(".area-heritage-card");
        if (parentElement) {
          event.preventDefault();
          parentElement.classList.toggle("area-heritage-card-show");
        }
      });
    });
  });
</script>