<div class="area-page-header">
  <div class="area-page-header-block">
    <div class="heritage-tag-list">
      <% @tags.each do |tag| %>
        <%= link_to continent_path(@continent, tag_id: tag.id), class: "heritage-tag-link", id:"tag-btn-#{tag.id}" do %>
          <%= image_tag("book.svg", class: "heritage-tag-link__icon", size: "30x30") %>
          <span class="heritage-tag-link__name">
            <%= tag.name %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="area-main-block">
  <div class="heritage-cards-block">
    <p id="no-heritage-msg" class="heritage-no-msg">世界遺産が見つかりませんでした</p>
    <% @heritages.each do |heritage|%>
      <% if heritage.images.attached? %>
        <div class="area-heritage-card" id="heritage-<%= heritage.id %>">
          <%= image_tag "close_white.svg", size: "30x30", class: "area-heritage-card__close-btn" %>
          <%= link_to image_tag(heritage.images[0], class: "area-heritage-card__img"), heritage_url(heritage) %>
          <p class="area-heritage-card__name"><%= heritage.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="area-map-block" id="map">
  </div>
</div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google_map_api, :key_id) %>&callback=initMap&libraries=marker&v=beta"
  defer
></script>
<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 38.60, lng: 135.5 },
      zoom: 5.5,
      mapId: "4504f8b37365c3d0",
    });

    map.addListener('idle', function() {
      updateVisibleHeritages(map);
    });
  }
  // カードとマップ上のピンの表示を更新
  function updateVisibleHeritages(map) {
    var bounds = map.getBounds();
    var hasVisibleHeritage = false;
    <% @heritages.each do |heritage| %>
      <% if !heritage.lat.nil? && !heritage.lng.nil? %>
        var heritageLatLng = new google.maps.LatLng(<%= heritage.lat %>, <%= heritage.lng %>);
        var isVisible = bounds.contains(heritageLatLng);
        var heritageCard = document.getElementById(`heritage-<%= heritage.id %>`);
        if (isVisible) {
          var heritageTag = document.createElement("a");
          heritageTag.className = "heritage-pin";
          heritageTag.href = `#heritage-<%= heritage.id %>`;
          heritageTag.textContent = `<%= heritage.name %>  ⭐︎<%= calc_average_review_score(heritage.id) %>`;
          var markerLatLng = { lat: <%= heritage.lat %>, lng: <%= heritage.lng %> };
          var markerView = new google.maps.marker.AdvancedMarkerView({
            map,
            position: markerLatLng,
            content: heritageTag,
          });
          markerView.addListener('click', function() {
            toggleHeritageCard(`<%= heritage.id %>`);
          });
          hasVisibleHeritage = true;
          heritageCard.classList.add("area-heritage-card-show");
        } else {
          heritageCard.classList.remove("area-heritage-card-show");
        }
      <% end %>
    <% end %>
    var noHeritageMsg = document.getElementById("no-heritage-msg");
    if (hasVisibleHeritage) {
      noHeritageMsg.classList.add("hide");
    } else {
      noHeritageMsg.classList.remove("hide");
    }
  }
  // スマホ版の画面でタップされたピンのカードを表示する処理
  function toggleHeritageCard(heritageId) {
    var allHeritageCards = document.querySelectorAll('.area-heritage-card');
    allHeritageCards.forEach(card => {
      card.classList.remove('heritage-card-show');
    });
    var showHeritageCard = document.getElementById(`heritage-${heritageId}`);
    showHeritageCard.classList.add('heritage-card-show');
  }
  window.initMap = initMap;

  document.addEventListener('DOMContentLoaded', function() {
    // スマホ版ページの世界遺産カードのバツボタン押下時の処理
    const closeButtons = document.querySelectorAll(".area-heritage-card__close-btn");
    closeButtons.forEach(button => {
      button.addEventListener("click", function(event) {
        const parentElement = event.target.closest(".area-heritage-card");
        if (parentElement) {
          event.preventDefault();
          parentElement.classList.remove('heritage-card-show');
        }
      });
    });

    <% @tags.each do |tag| %>
      var tagButton = document.getElementById('tag-btn-<%= tag.id %>');
      if ('<%= tag.id %>' == '<%= @tag_id %>') {
        tagButton.classList.add("active-tag");
      } else {
        tagButton.classList.remove("active-tag");
      }
    <% end %>
  });
</script>