<% provide(:title, '世界遺産') %>
<%= render 'shared/continent_header' %>
<%= image_tag "heritage/top/pc_top.png", class: "top-page-pc-img" %>
<%= image_tag "heritage/top/mb_top.png", class: "top-page-mb-img" %>
<div class="top-heritages-list">
  <% @heritages.each do |heritage| %>
    <div class="heritage-card">
      <%= link_to image_tag("heritage/マチュピチュ/1.png", class: "heritage-card__img"), heritage_path(heritage) %>
      <div class="heritage-card__heritage-name">
        <%= heritage.name %>
      </div>
      <div class="heritage-card-inner-wrap">
        <%= image_tag "location.png", size: "20x20", class: "heritage-card-inner-wrap__location-icon" %>
        <span class="heritage-card-inner-wrap__country-name">
          <%= heritage.country.name %>
        </span>
      </div>
    </div>
  <% end %>
</div>
<hr class="top-heritages-list__hr">

<%= render 'shared/area_list' %>
<hr class="top-area-list__hr">
