<div class="heritage-create-form">
  <%= form_with(model: @heritage) do |f| %>
    <%= f.text_field :name, placeholder: "世界遺産名", class: 'heritage-create-form__name' %>
    <%= f.text_area :content, placeholder: "世界遺産の概要", class: 'heritage-create-form__content' %>
    <%= f.text_field :country, placeholder: "国名", class: 'heritage-create-form__country-name' %>
    <%= f.file_field :images, multiple: true, class: "heritage-create-form__image" %>
    <%= f.submit "登録", class: "heritage-create-form__submit" %>
  <% end %>
</div>
