<%= render 'shared/error_messages', object: @review %>
<%= image_tag @heritage.image_path, size:'600x400' %>
<h1><%= @heritage.name %></h1>
<h2><%= @heritage.content %></h2>
<p>口コミ</p>
<% @reviews.each do |review| %>
  <p><%= review.content %></p>
  <span>いいね数：</span>
  <strong id="like_numbers"><%= review.likers.count %></strong>
  <%= render 'reviews/like_form', review: review %>
  <% if review.review_images.attached? %>
    <% review.review_images.each do |image| %>
      <%= image_tag image, size:'300x200' %>
    <% end %>
  <% end %>
<% end %>

<% if logged_in? %>
  <%= render 'shared/review_form', object: @review %>
<% end %>
