<div class="heritage-img-area">
  <%= image_tag "heritage/マチュピチュ/2.png", class: "heritage-img-area__main-img" %>
  <div class="heritage-img-right-area">
    <%= image_tag "heritage/マチュピチュ/2.png" %>
    <%= image_tag "heritage/マチュピチュ/3.png" %>
    <%= image_tag "heritage/マチュピチュ/4.png" %>
    <%= image_tag "heritage/マチュピチュ/5.png" %>
  </div>
</div>

<div class="heritage-detail-info">
  <div class="heritage-detail-info__heritage-name">
    <%= @heritage.name %>
  </div>
  <div class="heritage-detail-info__country-name">
    <%= image_tag "location.png", size: "20x20" %>
    <%= @heritage.country.name %>
  </div>
  <div class="heritage-detail-info-inner">
    <%= render 'shared/heritage_score', heritage: @heritage %>
    <% if logged_in? %>
      <div class="heritage-detail-btn-block">
        <%= render 'heritages/like_form' %>
        <%= render 'shared/review_create' %>
      </div>
    <% end %>
  </div>
</div>

<nav class="heritage-link-group" id="nav-link">
  <ul id="link-list">
    <li class="active">基本情報</li>
    <li>口コミ</li>
    <li>人気ポイント</li>
    <li>アクセス</li>
    <li>ツアー</li>
  </ul>
  <%= image_tag "arrow_foward.svg", size: "20x20", class: "heritage-link-group__arrow-img", id:"arrow-img" %>
</nav>

<div class="heritage-review-block">
  <%= render 'shared/post_list' %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // タップされた要素にクラスを追加
    var navItems = document.querySelectorAll('.heritage-link-group li');
    navItems.forEach(item => {
      item.addEventListener('click', function() {
        navItems.forEach(i => i.classList.remove('active'));
        this.classList.add('active');
      });
    });

    // ul要素の横幅がnav要素を超えた場合にスクロールできるようにする
    var navElement = document.getElementById("nav-link");
    var ulElement = document.getElementById("link-list");
    var arrowImgElement = document.getElementById("arrow-img");
    function checkOverflow() {
      if (ulElement.scrollWidth > navElement.clientWidth) {
        navElement.classList.add('scrollable');
        arrowImgElement.classList.add('show');
      }
    }
    // 初回チェック
    checkOverflow();
    navElement.addEventListener('scroll', function() {
      arrowImgElement.classList.remove('show');
    });
  });
</script>
