<div class="heritage-header-wrapper">
  <nav class="heritage-header-block" id="nav-link">
    <hr class="heritage-header-block__hr">
    <ul id="link-list">
      <li class="active">
        <%= image_tag "book.svg", size: "25x25" %>
        基本情報
        </li>
      <li>
        <%= image_tag "star.svg", size: "25x25" %>
        見どころ
      </li>
      <li>
        <%= link_to "#review-area" do %>
          <%= image_tag "review.svg", size: "25x25" %>
          口コミ
        <% end %>
      </li>
      <li>
        <%= link_to "#tour-area" do %>
          <%= image_tag "tour.svg", size: "25x25" %>
          ツアー
        <% end %>
      </li>
      <li>
        <%= link_to "#photo-area" do %>
          <%= image_tag "photo.svg", size: "25x25" %>
          写真
        <% end %>
      </li>
    </ul>
    <%= image_tag "arrow_foward.svg", size: "20x20", class: "heritage-header-block__arrow-img", id:"arrow-img" %>
  </nav>
</div>

<div class="heritage-img-area">
  <% if @heritage.images.attached? %>
    <% @heritage.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  <% else %>
    <%= image_tag "heritage/マチュピチュ/1.png" %>
    <%= image_tag "heritage/マチュピチュ/2.png" %>
    <%= image_tag "heritage/マチュピチュ/3.png" %>
    <%= image_tag "heritage/マチュピチュ/4.png" %>
    <%= image_tag "heritage/マチュピチュ/5.png" %>
  <% end %>
</div>

<div class="heritage-detail-info">
  <div class="heritage-detail-info__heritage-name">
    <%= @heritage.name %>
  </div>
  <div class="heritage-detail-info__country-name">
    <%= image_tag "location.png", size: "20x20" %>
    <%= @heritage.country.name %>
  </div>
  <div class="heritage-detail-info-inner">
    <%= render 'shared/heritage_score', heritage: @heritage %>
    <% if logged_in? %>
      <div class="heritage-detail-btn-block">
        <%= render 'heritages/like_form' %>
        <%= render 'shared/review_create' %>
      </div>
    <% end %>
  </div>
</div>

<div class="heritage-charm-block" id="charm-area">
  <p class="heritage-charm-block__title">見どころ</p>
  <p class="heritage-charm-block__content"><%= @heritage.content %></p>
  <p class="heritage-charm-block__sub-title">見どころ一覧</p>
  <div class="charm-img-block">
    <div class="charm-img-block__charm-link">
      <%= link_to image_tag(@heritage_first_charm.image), "#first-charm-area" %>
      <span><%= @heritage_first_charm.main_title %></span>
    </div>
    <div class="charm-img-block__charm-link">
      <%= link_to image_tag(@heritage_second_charm.image), "#second-charm-area" %>
      <span><%= @heritage_second_charm.main_title %></span>
    </div>
    <div class="charm-img-block__charm-link">
      <%= link_to image_tag(@heritage_third_charm.image), "#third-charm-area" %>
      <span><%= @heritage_third_charm.main_title %></span>
    </div>
    <div class="charm-img-block__charm-link">
      <%= link_to image_tag(@heritage_fourth_charm.image), "#fourth-charm-area" %>
      <span><%= @heritage_fourth_charm.main_title %></span>
    </div>
  </div>

  <div id="first-charm-area" class="charm-detail-block">
    <div class="charm-img-wrapper">
      <%= image_tag(@heritage_first_charm.image) %>
      <span><%= @heritage_first_charm.main_title %></span>
    </div>
    <div class="charm-describe-wrapper">
      <strong class="charm-describe-wrapper__sub-title">
        <%= @heritage_first_charm.sub_title %>
      </strong>
      <span class="charm-describe-wrapper__detail">
        <%= @heritage_first_charm.detail %>
      </span>
    </div>
  </div>

  <div id="second-charm-area" class="charm-detail-block">
    <div class="charm-img-container">
      <%= image_tag(@heritage_second_charm.image) %>
      <span><%= @heritage_second_charm.main_title %></span>
    </div>
    <div class="charm-describe-container">
      <strong class="charm-describe-wrapper__sub-title">
        <%= @heritage_second_charm.sub_title %>
      </strong>
      <span class="charm-describe-wrapper__detail">
        <%= @heritage_second_charm.detail %>
      </span>
    </div>
  </div>

  <div id="third-charm-area" class="charm-detail-block">
    <div class="charm-img-wrapper">
      <%= image_tag(@heritage_third_charm.image) %>
      <span><%= @heritage_third_charm.main_title %></span>
    </div>
    <div class="charm-describe-wrapper">
      <strong class="charm-describe-wrapper__sub-title">
        <%= @heritage_third_charm.sub_title %>
      </strong>
      <span class="charm-describe-wrapper__detail">
        <%= @heritage_third_charm.detail %>
      </span>
    </div>
  </div>

  <div id="fourth-charm-area" class="charm-detail-block">
    <div class="charm-img-container">
      <%= image_tag(@heritage_fourth_charm.image) %>
      <span><%= @heritage_fourth_charm.main_title %></span>
    </div>
    <div class="charm-describe-container">
      <strong class="charm-describe-wrapper__sub-title">
        <%= @heritage_fourth_charm.sub_title %>
      </strong>
      <span class="charm-describe-wrapper__detail">
        <%= @heritage_fourth_charm.detail %>
      </span>
    </div>
  </div>
  <hr>
</div>
 
<div class="heritage-review-block" id="review-area">
  <div class="heritage-score-inner">
    <%= image_tag("star.png", size: "50x50") %>
    <span class="heritage-score-inner__score">
      <%= calc_average_review_score(@heritage.id) %>
    </span>
  </div>
  <div class="heritage-review-list">
    <%= render 'shared/review_list' %>
  </div>
  <% if @reviews.count >= 7 %>
    <div id="show-all-reviews" class="heritage-review-block__show-all-reviews">
      <%= @reviews.count %> 件のレビューをすべて表示
    </div>
    <%= render 'popup/reviews_popup' %>
  <% end %>
</div>


<div class="heritage-tour-block" id="tour-area">
</div>

<div class="heritage-photo-block" id="photo-area">
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // タップされた要素にクラスを追加
    var navItems = document.querySelectorAll('.heritage-header-block li');
    navItems.forEach(item => {
      item.addEventListener('click', function() {
        navItems.forEach(i => i.classList.remove('active'));
        this.classList.add('active');
      });
    });
    // ul要素の横幅がnav要素を超えた場合にスクロールできるようにする
    var navElement = document.getElementById("nav-link");
    var ulElement = document.getElementById("link-list");
    var arrowImgElement = document.getElementById("arrow-img");
    function checkOverflow() {
      if (ulElement.scrollWidth > navElement.clientWidth) {
        navElement.classList.add('scrollable');
        arrowImgElement.classList.add('show');
      }
    }
    // 初回チェック
    checkOverflow();
    navElement.addEventListener('scroll', function() {
      arrowImgElement.classList.remove('show');
    });
  });

  // レビュー用のポップアップを表示する処理
  var reviewsPopup = document.getElementById("user-reviews-popup");
  var showPopupBtn = document.getElementById("show-all-reviews");
  showPopupBtn.addEventListener('click', function() {
    reviewsPopup.classList.remove("hide");
    document.getElementById('gray-out').classList.remove('hide');
  });
</script>
