<div class="heritage-img-area">
  <%= image_tag "heritage/マチュピチュ/2.png", class: "heritage-img-area__main-img" %>
  <div class="heritage-img-right-area">
    <%= image_tag "heritage/マチュピチュ/2.png" %>
    <%= image_tag "heritage/マチュピチュ/3.png" %>
    <%= image_tag "heritage/マチュピチュ/4.png" %>
    <%= image_tag "heritage/マチュピチュ/5.png" %>
  </div>
</div>

<div class="heritage-detail-info">
  <div class="heritage-detail-info__heritage-name">
    <%= @heritage.name %>
  </div>
  <div class="heritage-detail-info__country-name">
    <%= image_tag "location.png", size: "20x20" %>
    <%= @heritage.country.name %>
  </div>
  <div class="heritage-detail-info-inner">
    <%= image_tag "review_score/score0.png", size: "150x30", class: "heritage-detail-info-inner__score-img" %>
    <span class="js-score" data-score="<%= calc_average_review_score(@heritage.id) %>">
      <%= calc_average_review_score(@heritage.id) %>
    </span>
    <% if logged_in? %>
      <div class="heritage-detail-btn-block">
        <%= render 'heritages/like_form' %>
        <%= render 'shared/review_create' %>
      </div>
    <% end %>
  </div>
</div>

<nav class="heritage-link-group" id="nav-link">
  <ul id="link-list">
    <li>基本情報</li>
    <li>口コミ</li>
    <li>人気ポイント</li>
    <li>アクセス</li>
    <li>ツアー</li>
  </ul>
  <%= image_tag "arrow_foward.svg", size: "20x20", class: "heritage-link-group__arrow-img", id:"arrow-img" %>
</nav>


<p>口コミ</p>
<% @reviews.each do |review| %>
  <p><%= simple_format(review.content) %></p>
  <span>いいね数：</span>
  <strong id="like_numbers"><%= review.likers.count %></strong>
  <% if logged_in? %>
    <%= render 'reviews/like_form', review: review %>
  <% end %>
  <% if review.review_images.attached? %>
    <% review.review_images.each do |image| %>
      <%= image_tag image, size:'300x200' %>
    <% end %>
  <% end %>
<% end %>

<% if logged_in? %>
  <%= render 'shared/review_form', object: @review %>
<% end %>

<%= render 'shared/error_messages', object: @review %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var scoreElements = document.querySelectorAll('.js-score'); 
    scoreElements.forEach(function(scoreElement) {
      var score = scoreElement.dataset.score;
      var imgElement = scoreElement.previousElementSibling;
      if (score && imgElement) {
        if (score >= 0.5 && score < 1) {
            imgElement.src = "/assets/review_score/score05.png";
        } else if (score >= 1 && score < 1.5) {
            imgElement.src = "/assets/review_score/score10.png";
        } else if (score >= 1.5 && score < 2) {
            imgElement.src = "/assets/review_score/score15.png";
        } else if (score >= 2 && score < 2.5) {
            imgElement.src = "/assets/review_score/score20.png";
        } else if (score >= 2.5 && score < 3) {
            imgElement.src = "/assets/review_score/score25.png";
        } else if (score >= 3 && score < 3.5) {
            imgElement.src = "/assets/review_score/score30.png";
        } else if (score >= 3.5 && score < 4) {
            imgElement.src = "/assets/review_score/score35.png";
        } else if (score >= 4 && score < 4.5) {
            imgElement.src = "/assets/review_score/score40.png";
        } else if (score >= 4.5 && score < 5) {
            imgElement.src = "/assets/review_score/score45.png";
        } else if (score == 5) {
            imgElement.src = "/assets/review_score/score50.png";
        }
      }
    });

    // タップされた要素にクラスを追加
    var navItems = document.querySelectorAll('.heritage-link-group li');
    navItems.forEach(item => {
      item.addEventListener('click', function() {
        navItems.forEach(i => i.classList.remove('active'));
        this.classList.add('active');
      });
    });

    // ul要素の横幅がnav要素を超えた場合にスクロールできるようにする
    var navElement = document.getElementById("nav-link");
    var ulElement = document.getElementById("link-list");
    var arrowImgElement = document.getElementById("arrow-img");
    function checkOverflow() {
      if (ulElement.scrollWidth > navElement.clientWidth) {
        navElement.classList.add('scrollable');
        arrowImgElement.classList.add('show');
      }
    }
    // 初回チェック
    checkOverflow();
    navElement.addEventListener('scroll', function() {
      arrowImgElement.classList.remove('show');
    });
  });
</script>
