<%= render 'shared/continent_header' %>
<div class="heritage-top-area">
  <div class="heritage-img-area">
    <%= image_tag "heritage/マチュピチュ/top_pc.png", class: "heritage-img-area__pc-img" %>
    <%= image_tag "heritage/マチュピチュ/top_mb.png", class: "heritage-img-area__mb-img" %>
     <p class="heritage-img-area__name"><%= @heritage.name %></p>
  </div>
  <div class="heritage-item-list">
    <p class="heritage-item-list__content">
      <%= @heritage.content %>
    </p>
    <div class="heritage-item-list-right">
      <%= render 'heritages/like_form' %>
      <span class="heritage-item-list-right__like">お気に入り</span>
    </div>
  </div>
  <p class="heritage-country-info">
    <%= image_tag "location.png", size: "25x25", class: "heritage-country-info__location_icon" %>
    <span class="heritage-country-info__country-name">
      <%= @heritage.country.name %>
    </span>
  </p>
</div>

<div class="heritage-main-block">
  <div class="main-charm-block">
    <div class="main-charm-area">
      <%= image_tag "heritage/マチュピチュ/charm1.png", class: "main-charm-area__main-img js-main-img" %>
      <%= image_tag "heritage/マチュピチュ/1.png", class: "main-charm-area__sub-img js-sub-img" %>
    </div>
    <div class="charm-describe-area js-describe-area">
      <p class="charm-describe-area__sub-title">
        <%= @heritage_first_charm.sub_title %>
      </p>
      <p class="charm-describe-area__detail">
        <%= @heritage_first_charm.detail %>
      </p>
    </div>
    <p class="charm-describe-area__show-msg-btn hide js-show-full-msg">すべて表示</p>
  </div>

  <div class="slide-show-area">
    <div class="slide-wrapper">
      <%= image_tag "heritage/マチュピチュ/1.png", class: "slide-show-area__img" %>
      <%= image_tag "heritage/マチュピチュ/2.png", class: "slide-show-area__img" %>
      <%= image_tag "heritage/マチュピチュ/3.png", class: "slide-show-area__img" %>
      <%= image_tag "heritage/マチュピチュ/4.png", class: "slide-show-area__img" %>
    </div>
    <div class="slide-wrapper">
      <%= image_tag "heritage/マチュピチュ/1.png", class: "slide-show-area__img" %>
      <%= image_tag "heritage/マチュピチュ/2.png", class: "slide-show-area__img" %>
      <%= image_tag "heritage/マチュピチュ/3.png", class: "slide-show-area__img" %>
      <%= image_tag "heritage/マチュピチュ/4.png", class: "slide-show-area__img" %>
    </div>
      <div class="slide-wrapper">
      <%= image_tag "heritage/マチュピチュ/1.png", class: "slide-show-area__img" %>
      <%= image_tag "heritage/マチュピチュ/2.png", class: "slide-show-area__img" %>
      <%= image_tag "heritage/マチュピチュ/3.png", class: "slide-show-area__img" %>
      <%= image_tag "heritage/マチュピチュ/4.png", class: "slide-show-area__img" %>
    </div>
  </div>

  <div class="main-charm-block">
    <div class="main-charm-area">
      <%= image_tag "heritage/マチュピチュ/charm2.png", class: "main-charm-area__main-img js-main-img" %>
      <%= image_tag "heritage/マチュピチュ/2.png", class: "main-charm-area__sub-img js-sub-img" %>
    </div>
    <div class="charm-describe-area js-describe-area">
      <p class="charm-describe-area__sub-title">
        <%= @heritage_second_charm.sub_title %>
      </p>
      <p class="charm-describe-area__detail">
        <%= @heritage_second_charm.detail %>
      </p>
    </div>
    <p class="charm-describe-area__show-msg-btn hide js-show-full-msg">すべて表示</p>
  </div>
</div>

<div class="heritage-review-block" id="review-area">
  <div class="heritage-score-inner">
    <%= render 'shared/heritage_score', heritage: @heritage %>
  </div>
  <div class="heritage-review-list">
    <%= render 'shared/review_list' %>
  </div>
  <% if @reviews.count >= 7 %>
    <div id="show-all-reviews" class="heritage-review-block__show-all-reviews">
      <%= @reviews.count %> 件のレビューをすべて表示
    </div>
    <%= render 'popup/reviews_popup' %>
  <% end %>
</div>

  <div id="first-charm-area" class="charm-detail-block">
    <div class="charm-img-wrapper">
      <%= image_tag(@heritage_first_charm.image) %>
      <span><%= @heritage_first_charm.main_title %></span>
    </div>
    <div class="charm-describe-wrapper">
      <strong class="charm-describe-wrapper__sub-title">
        <%= @heritage_first_charm.sub_title %>
      </strong>
      <span class="charm-describe-wrapper__detail">
        <%= @heritage_first_charm.detail %>
      </span>
    </div>
  </div>

  <div id="second-charm-area" class="charm-detail-block">
    <div class="charm-img-container">
      <%= image_tag(@heritage_second_charm.image) %>
      <span><%= @heritage_second_charm.main_title %></span>
    </div>
    <div class="charm-describe-container">
      <strong class="charm-describe-wrapper__sub-title">
        <%= @heritage_second_charm.sub_title %>
      </strong>
      <span class="charm-describe-wrapper__detail">
        <%= @heritage_second_charm.detail %>
      </span>
    </div>
  </div>

  <div id="third-charm-area" class="charm-detail-block">
    <div class="charm-img-wrapper">
      <%= image_tag(@heritage_third_charm.image) %>
      <span><%= @heritage_third_charm.main_title %></span>
    </div>
    <div class="charm-describe-wrapper">
      <strong class="charm-describe-wrapper__sub-title">
        <%= @heritage_third_charm.sub_title %>
      </strong>
      <span class="charm-describe-wrapper__detail">
        <%= @heritage_third_charm.detail %>
      </span>
    </div>
  </div>

  <div id="fourth-charm-area" class="charm-detail-block">
    <div class="charm-img-container">
      <%= image_tag(@heritage_fourth_charm.image) %>
      <span><%= @heritage_fourth_charm.main_title %></span>
    </div>
    <div class="charm-describe-container">
      <strong class="charm-describe-wrapper__sub-title">
        <%= @heritage_fourth_charm.sub_title %>
      </strong>
      <span class="charm-describe-wrapper__detail">
        <%= @heritage_fourth_charm.detail %>
      </span>
    </div>
  </div>
  <hr>
</div>

<div class="heritage-tour-block" id="tour-area">
</div>

<div class="heritage-photo-block" id="photo-area">
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var mainImgElements = document.querySelectorAll('.js-main-img');
    var subImgElements = document.querySelectorAll('.js-sub-img');
    var observerCallback = function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          entry.target.classList.add('fade-in');
          observer.unobserve(entry.target);
        }
      });
    };
    var observerCallbackSub = function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          entry.target.classList.add('slide-in');
          observer.unobserve(entry.target);
        }
      });
    };
    var observerOptions = {
      root: null,
      rootMargin: '0px',
      threshold: 0.1 
    };
    var observer = new IntersectionObserver(observerCallback, observerOptions);
    var observerSub = new IntersectionObserver(observerCallbackSub, observerOptions);
    mainImgElements.forEach(function(img) {
      observer.observe(img);
    });
    subImgElements.forEach(function(img) {
      observerSub.observe(img);
    });

    // スマホ版のページでsub-imgの下にdescribeが来るように調整
    var mediaQuery = window.matchMedia('(max-width: 767px)');
    var titleElements = document.querySelectorAll('.js-describe-area');
    mainImgElements.forEach((imgElement, index) => {
      var subImgHeight = subImgElements[index].offsetHeight;
      var mainImgheight = imgElement.offsetHeight;
      var adjustedHeight = subImgHeight - mainImgheight * 0.15;
      if (mediaQuery.matches) {
        titleElements[index].style.marginTop = `${adjustedHeight}px`;
      }
    });

    // レビュー用のポップアップを表示する処理
    var reviewsPopup = document.getElementById("user-reviews-popup");
    var showPopupBtn = document.getElementById("show-all-reviews");
    showPopupBtn.addEventListener('click', function() {
      reviewsPopup.classList.remove("hide");
      document.getElementById('gray-out').classList.remove('hide');
    });
  });
</script>
