<!--投稿の「・・・」ボタン押下時に表示されるポップアップ-->
<%= render 'popup/post_action_popup' %>
<div class="heritage-detail-page-wrapper">
  <div class="heritage-info-wrapper">
    <div class="heritage-info-wrapper__heritage-name">
      <%= link_to @heritage.name, @heritage %>
    </div>
    <div class="heritage-country">
      <%= image_tag "location.png", size: "20x20" %>
      <span class="heritage-country__name">
        <%= @heritage.country.name %>
      </span>
    </div>
    <div class="heritage-stats-wrapper">
      <div class="heritage-stats-wrapper__item-name">
        口コミ数
      </div>
      <%= content_tag :span, @heritage.reviews.count, class: "heritage-stats-wrapper__post-count" %>
      <div class="heritage-stats-wrapper__item-name">
        保存数
      </div>
      <%= content_tag :span, @heritage.likers.count, class: "heritage-stats-wrapper__bookmark-count" %>
      <div class="heritage-stats-wrapper__item-name">
        評価
      </div>
      <%= image_tag "review_score/score0.png", size: "80x16", id: "score-img" %>
      <span class="heritage-stats-wrapper__review-score" id="review-score" data-score="<%= calc_average_review_score(@heritage.id) %>">
        <%= calc_average_review_score(@heritage.id) %>
      </span>
    </div>
    <hr class="heritage-info-wrapper__hr">
  </div>

  <div class="post-info-wrapper">
    <%= link_to image_tag(@review.user.profile_image, size: "60x60", class: "post-info-wrapper__user-icon"), @review.user %>
    <div class="post-details-wrapper">
      <span class="post-details-wrapper__user-name">
      <%= @review.user.name %>
      </span>
      <%= image_tag "more.png", size: "20x20", class: "post-action-icon", data: { review_path: review_path(@review) } %>
      <div class="post-details-wrapper__formatted-time">
        <%= formatted_post_time(@review.created_at) %>
      </div>
      <div class="post-details-wrapper__post-content">
        <p><%= simple_format(@review.content) %></p>
      </div>
      <% if @review.review_images.attached? %>
        <% @review.review_images.each do |image| %>
          <%= image_tag image.variant(resize_to_limit: [300, 300]), class: "post-details-wrapper__post-img" %>
        <% end %>
      <% end %>
      <div class="post-details-wrapper__like-container" id="like-<%= @review.id %>">
        <%= render 'shared/like', review: @review %>
      </div>
      <div class="post-details-wrapper__reply-container">
        <%= render 'shared/reply', review: @review %>
      </div>
    </div>
  </div>

  <% if logged_in? %>
    <%= render 'shared/reply_form', review: @review %>
  <% end %>

  <% if !@replies.nil? %>
    <hr class="post-info-wrapper__hr">
    <%= render 'shared/reply_list', review: @review %>
  <% end %>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.body.style.backgroundColor = '#efefef';

    // レビュースコア画像の出しわけ
    var reviewScoreElement = document.getElementById("review-score"); 
    var score = reviewScoreElement.dataset.score;
    var imgElement = document.getElementById("score-img");
    if (score && imgElement) {
      if (score >= 0.5 && score < 1) {
          imgElement.src = "/assets/review_score/score05.png";
      } else if (score >= 1 && score < 1.5) {
          imgElement.src = "/assets/review_score/score10.png";
      } else if (score >= 1.5 && score < 2) {
          imgElement.src = "/assets/review_score/score15.png";
      } else if (score >= 2 && score < 2.5) {
          imgElement.src = "/assets/review_score/score20.png";
      } else if (score >= 2.5 && score < 3) {
          imgElement.src = "/assets/review_score/score25.png";
      } else if (score >= 3 && score < 3.5) {
          imgElement.src = "/assets/review_score/score30.png";
      } else if (score >= 3.5 && score < 4) {
          imgElement.src = "/assets/review_score/score35.png";
      } else if (score >= 4 && score < 4.5) {
          imgElement.src = "/assets/review_score/score40.png";
      } else if (score >= 4.5 && score < 5) {
          imgElement.src = "/assets/review_score/score45.png";
      } else if (score == 5) {
          imgElement.src = "/assets/review_score/score50.png";
      }
    }

    // more-icon押下時の処理
    var closeBtn = document.getElementById('close-btn');
    var morePopup = document.getElementById('more-popup');
    var moreBtns = document.querySelectorAll('.more-icon');
    var deleteBtn = document.getElementById('delete-btn');
    var grayOut = document.getElementById('gray-out');

    // ポップアップの閉じるボタン押下時の処理
    closeBtn.addEventListener('click', function() {
      morePopup.classList.add('display-none');
      grayOut.classList.add('display-none');
    });

    // 投稿のmoreボタン押下時の処理
    moreBtns.forEach(function(moreBtn) {
      moreBtn.addEventListener('click', function() {
        morePopup.classList.remove('display-none');
        grayOut.classList.remove('display-none');
        // クリックされたmore-iconに対応するレビューのURLを取得
        currentReviewUrl = this.getAttribute('data-review-path');
      });
    });

    deleteBtn.addEventListener('click', function() {
      var confirmation = confirm('本当に削除しますか？');
      if (confirmation) {
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        fetch(currentReviewUrl, {
          method: "DELETE",
          headers: {
            "X-CSRF-Token": csrfToken,
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          if (response.ok) {
            window.location.reload();
          } else {
            alert('削除に失敗しました');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('削除に失敗しました');
        });
      } else {
        morePopup.classList.add('display-none');
        grayOut.classList.add('display-none');
      }
    });
  });
</script>
