<header>
  <div class="pc-header" id="pc-header-js">
    <%= link_to image_tag("Herigo_logo.png", size: "80x60"), root_url, class: "pc-header__logo-img" %>
    <%= link_to "Herigo", root_url, class: "pc-header__logo-name" %>
    <div class="header-search-block">
      <%= form_with url: search_path, method: :get, local: true, class: 'header-search-form' do |f| %>
        <%= f.text_field :query, placeholder: '世界遺産名で検索', class: 'header-search-form__input' %>
        <%= image_tag ("search.svg"), size: '25x25', class:"header-search-form__search-icon" %>
      <% end %>
    </div>
    <% if logged_in? %>
      <div class="pc-header-menu">
        <%= image_tag ("humberger_menu.svg"), size: '30x30' %>
        <%= image_tag current_user.profile_image, size: '30x30', class: "pc-header-menu__user-icon" %>
        <div class="hover-menu-list">
          <%= link_to "世界遺産", heritages_url, class: "hover-menu-list__heritage-index-link" %>
          <%= link_to "ユーザー一覧", users_url, class: "hover-menu-list__user-index-link" %>
          <%= link_to "プロフィール編集", edit_user_path(current_user), class: "hover-menu-list__profile-edit" %>
          <%= link_to "お気に入り", heritage_like_path(current_user), class: "hover-menu-list__bookmark-link" %>
          <hr class="hover-menu-list__hr">
          <%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete }, class: "hover-menu-list__logout-link" %>
        </div>
      </div>
    <% else %>
      <div class="pc-header-menu">
        <span>ログイン</span>
        <%= image_tag("default_icon.png", size: "30x30") %>
        <div class="hover-menu-list">
          <%= link_to "世界遺産", heritages_url, class: "hover-menu-list__heritage-index-link" %>
          <%= link_to "ユーザー一覧", users_url, class: "hover-menu-list__user-index-link" %>
          <hr class="hover-menu-list__hr">
          <%= link_to "ログイン", login_url, class: "hover-menu-list__login-link" %>
          <%= link_to "会員登録", signup_url, class: "hover-menu-list__singup-link" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class="mobile-header">
    <!--デフォルトのヘッダー-->
    <div class="default-header" id="default_header">
      <%= link_to image_tag("Herigo_logo.png", size: "60x45"), root_url, class: "header-center-block__logo-img" %>
      <div class="header-search-block">
        <%= form_with url: root_path, method: :get, local: true, class: 'header-search-form' do |f| %>
          <%= f.text_field :query, placeholder: '世界遺産名で検索', class: 'header-search-form__input' %>
          <%= image_tag ("search.svg"), size: '25x25', class:"header-search-form__search-icon" %>
        <% end %>
      </div>
      <div class="mobile-header-menu" id="humburger-menu-icon">
        <% if logged_in? %>
          <%= image_tag ("humberger_menu.svg"), size: '30x30' %>
          <%= image_tag current_user.profile_image, size: '30x30', class: "mobile-header-menu__user-icon" %>
        <% else %>
          <%= image_tag("default_icon.png", size: "30x30") %>
        <% end %>
      </div>
    </div>
    <!--ハンバーガーメニュー押下時のヘッダー-->
    <div class="humberger-menu-header" id="humberger_menu_header">
      <%= image_tag "close.png", size: '30x30', id: "header-close-icon", class: "humberger-menu-header__close-icon" %>
      <% if logged_in? %>
        <%= link_to current_user, class: "humberger-menu-header__user-icon" do %>
          <%= image_tag current_user.profile_image, size: '60x60' %>
        <% end %>
        <%= link_to current_user.name, users_url(current_user), class: "humberger-menu-header__user-name" %>
      <% end %>
      <hr>
      <%= link_to "世界遺産", heritages_url, class: "humberger-menu-header__heritage-index-link" %>
      <%= link_to "ユーザー一覧", users_url, class: "humberger-menu-header__user-index-link" %>
      <hr>
      <% if logged_in? %>
        <%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete }, class: "humberger-menu-header__logout-link" %>
      <% else %>
        <%= link_to "ログイン", login_url, class: "humberger-menu-header__login-link" %>
        <%= link_to "会員登録", signup_url, class: "humberger-menu-header__singup-link" %>
      <% end %>
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var humburgerMenuIcon = document.getElementById('humburger-menu-icon');
    var headerCloseIcon = document.getElementById('header-close-icon');
    var humbergerHeaderElement = document.getElementById('humberger_menu_header');
    humburgerMenuIcon.addEventListener('click', function() {
      humbergerHeaderElement.classList.toggle("humberger-menu-header-open");
    });
    headerCloseIcon.addEventListener('click', function() {
      humbergerHeaderElement.classList.toggle("humberger-menu-header-open");
    });

    
  });
</script>
